body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image {
  float: left;
  margin-right: 50px;
  height: 200px;
}
.title-image img {
  transition: transform 0.5s ease;
}

.title-image img:hover {
  transform: scale(1.1);
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.creative {
  color: midnightblue;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}